/* MIKAELA CUSTOM HOVER */
.site-nav li {
    position: relative;
    padding: 0;
}

.site-nav li a::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: .1px solid transparent;
    border-top: 0;
    left: 0;
    box-sizing: border-box;
}

.site-nav li a::after {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border: .1px solid transparent;
    border-top: 0;
    right: 0;
    box-sizing: border-box;
}

.site-nav li a:hover::before {
    height: 25px;
    width: 60px;
    border: .1px solid white;
    border-right: none;
    border-top: none;
    transition: height 0.3s linear,
                width 0.3s linear 0.3s;
}

.site-nav li a:hover::after {
    height: 25px;
    width: 60px;
    border: .1px solid white;
    border-left: none;
    border-top: none;
    transition: height 0.3s linear,
                width 0.3s linear 0.3s;
}

/*GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0,0,0,0.8); }
a { color: rgba(31, 110, 56, 1); }
a:hover { color: rgba(29, 75, 43, 1); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: 'Proxima Nova Regular', Helvetica, sans-serif; 
    font-size: 88.75%; /* 14 px*/
    line-height: 1.4;
}

/* HEADER */
header {
    background-color: rgba(29, 75, 43, 1);
    color: rgba(255, 255, 255, .8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: rgba(255, 255, 255, 1);
}

/* SITE ID */
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* MAIN */
main {
    background: rgba(0, 0, 0, .05);
}

section {
    padding: 3em 1em;
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 1em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* SIDEBAR/ASIDE */
@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }

    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, .1);
    }
}

aside {
    padding: 0 1em;
}

.primary {
    padding: 0 2em;
}

/* HERO SECTION */
.hero {
    background-color: rgba(29, 75, 43, 1);
    text-align: center;
    color: white;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses a {
    text-decoration: none;
}

.courses h3 {
    text-align: center;
}

/* CUSTOM STYLING FOR SPECIFIC & SUB PAGES */
.page-sub .hero {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.page-home .hero{
    background-image: url('../img/forest.jpg');
    background-position: center top;
    background-size: cover;
    padding: 10em 1em 6em 1em;
}

.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
}

/* COURSE WORK SECTION */
.coursework {
    padding: 6em 1em;
}

/* COURSE PAGES WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

/* CODE BLOCKS */
pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}






/* FOR WEB DEV PURPOSES ONLY */
 /* body, * {
        background-color: rgba(0, 0, 0, .05);
        border: 1px solid rgba(0, 0, 0, .1);
        color: rgba(0, 0, 0, .5);
} */