/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
            #ARTICLE
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */

body {
    font-size: 87.5%; /* 14px */
    font-family: 'Pragmatica', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
    background-color: rgba(26, 39, 53, 255);
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.essones{
    font-size: 1em; /* 16px */
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essonesnav{
    font-size: 1em; /* 16px */
    text-transform: uppercase;
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essonesnav2 {
    font-size: 1em; /* 16px */
    text-transform: uppercase;
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid #ccc;
}

.essonesstudio{
    font-size: .8em; /* 16px */
    text-transform: uppercase;
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essonesname{
    margin-top: .2em;
    font-size: 2.5em; /* 36px */
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essonessec{
    font-size: 3em; /* 48px */
    text-transform: uppercase;
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essoneslog {
    font-size: 1em; /* 16px */
    font-style: italic;
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(159, 159, 159, 0.8);
}

.essones-p {
    font-size: 1.5em; /* 16px */
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essones-btn {
    font-size: 1em; /* 36px */
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.essones-foot{
    display: inline-block;
    margin-left: 2em;
    font-size: .7em; /* 16px */
    font-family: 'Essones', serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.art-title {
    font-size: 1.125em; /* 18px */
    font-style:italic;
    font-family: 'Essones', serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.total {
    font-size: 1.125em; /* 18px */
    font-family: 'Essones', serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.art-info {
    font-size: .6em; /* 16px */
    font-family: 'Pragmatica', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.cost-info {
    text-align: right;
    font-size: .7em; /* 16px */
    font-family: 'Pragmatica', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.total-info {
    text-align: right;
    font-size: 1.125em; /* 16px */
    font-family: 'Pragmatica', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.purchase {
    font-size: .7em; /* 18px */
    font-family: 'Essones', serif;
    font-weight: 100;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}

.pragmaticalog {
    font-size: 1em; /* 16px */
    font-family: 'Pragmatica', sans-serif;
    font-weight: 200;
    line-height: 1.5;
    color: rgba(255, 255, 255, .8);
}


/* HEADINGS */
/*
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1; 
}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1; 
}

h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2; 
}

h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3; 
}

h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4; 
}

h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5; 
}

/* PARAGRAPHS */
p {
    margin: .5em 0;
    max-width: 38em;
}

.description {
    padding: 3.2em 0;
}

.essoneslog {
    display: inline-block;
    text-align: center;
}

 /* LINKS */
a {
    color: rgba(0, 0, 153, 0.8);
    text-decoration: none;
}
a:hover{
    color: rgba(0, 0, 153, 1);
    text-decoration: underline;
}

.title-center-pad {
    padding-top: 2em;
}

/* HELPER CLASSES */
.hidden {
    position: absolute;
    top: -9999px;
    left:-9999px;
}
@media (min-width: 768px) {
    .hidden-desktop {
        position: absolute;
        top: -9999px;
        left:-9999px;
    }
}

@media (max-width: 767px) {
    .hidden-mobile {
        position: absolute;
        top: -9999px;
        left:-9999px;
    }
}

.text-centered {
    text-align: center;
}
.full-width {
    max-width: none;
    width: 100%;
}

.edge-to-edge {
    margin: 0;
    padding: 0;
}

.edge-to-edge .container {
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .edge-to-edge .row > .column {
        margin: 0;
    }
    .edge-to-edge .row > .column.one-half {
        max-width: 50%;
    }
}

.edge-to-edge2 {
    margin: 0;
    padding: 0;
}

.edge-to-edge2 .container {
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .edge-to-edge2 .row > .column {
        margin: 0;
    }
    .edge-to-edge2 .row > .column.one-half {
        max-width: 50%;
    }
}

.trans-blue {
    background-color: rgba(26, 39, 53, .8);
}

.solid-blue {
    background-color: rgba(26, 39, 53, 1);
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

.pragmaticalog {
    text-decoration: none;
}

.dis {
    display: flex;
    justify-content: space-between;
}

.space {
    justify-content: space-between;
}

/* IMAGES */
.socials {
    text-align: center;
    justify-content: space-between;
}

.icons {
    height: 20px;
    margin: -.4em .3em;
    cursor: pointer;
}

.copy {
    height: 12px;
    margin: -.2em .3em;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.self-portrait {
    background-size: cover;
}

.portrait {
    background-size: cover;
    position: 0 10;
}

/* BUTTONS */
.login {
    text-align: center;}

.log-button {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.send-button {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.collection-button {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.button,
.button2,
.button3,
button,
form input[type="submit"] {
    font-size: inherit;
    line-height: 1;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 1em;
    display: inline-block;
    margin: .5em .5em .5em 0;
    text-align: center;
    border-radius: .5em;
    z-index: -1;
}

.button:hover,
.button2:hover,
.button3:hover,
button:hover,
form input[type="submit"]:hover {
    background-color: rgba(75, 75, 223, 0.288);
    border-color: rgba(75, 75, 223, 0.288);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.button {
    width: 120px;
    padding-bottom: 1em;
}

.button2 {
    width: 7em;
    padding-bottom: 1em;
}

.button3 {
    width: 20em;
    padding-bottom: 1em;
}

.button2.alt {
    background-color: transparent;
    color: rgba(29, 75, 43, 1);
}

.button2.alt:hover {
    background-color: rgba(29, 75, 43, 1);
    color: rgba(255, 255, 255, 1);
}

.pragmaticalog:hover{
    color: rgba(195, 195, 195, 0.8);
    text-decoration: none;
}

/* LAYOUT */
.about-bio {
    max-width: 64%;
    margin: 0 3em;
    margin-left: 6em;
}

.info-me {
    padding: 2em;
}

/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/*  CONTAINER */
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 1em 4%;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
   /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    body {
        font-size: 100%; /* 16px */ 
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px */ 
    }
    .container {
        max-width: 1200px;
    }
}

/* FOR DEMO PURPOSES */
/* body.demo {
    padding-top: 2em;
}
body.demo::before {
    content: 'Small Screen (Mobile) Less Than 768px';
    background-color: #933;    
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: rgb(255, 255, 255, 1);
    padding: .5em;
}

@media (min-width: 768px) {
    body.demo::before {
        background-color: #bcb83d;
        content: 'Midsize Screen (Tablet) 768px - 1050px';
    }
}

@media (min-width: 1050px) {
    body.demo::before {
        background-color: #693;
        content: 'Large Screen (Notebook) 1050px - 1250px';
    }
}

@media (min-width: 1250px) {
    body.demo::before {
        background-color: #09c;
        content: 'Extra Large Screen (Desktop) 1250px +';
    }
} */

/* SEMATIC GRID SYSTEM */
.row > .column {
    margin-bottom: 4%;
}

.row h1 {
    text-align: center;
}

@media (min-width: 768px) {

    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 62.6666%;
    }

    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* FOR DEMO PURPOSES */
.demo .column {
    background: rgba(0, 0, 0, .2);
    padding: 1em;
    text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */
.site-header {
    display: flex;
    justify-content: space-around;
}

.site-id .flex-logo {
  display: flex;
  justify-content: center;  
  font-size: 1em;
  font-weight: 100;
}

.site-id a {
    display: flex;
}

.site-id .flex-logo p {
    padding-top: 1.3em;
    padding-left: .5em;
    color: rgba(255, 255, 255, 1);
}

/* ON LARGER SCREEN PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: flex-end;
    }
} 

/* STYLING FOR BOTH HEADER AND FOOTER */
.site-header {
    position: relative;
    z-index: 100;
    background: rgba(75, 75, 223, 0.288);
    padding-top: 1.5em;
}

.site-footer {
    background-color: rgba(48,61,74,255);
}
.site-header a,
.site-footer a {
    color: rgba(255, 255, 255, .8);
}

.site-header a:hover,
.site-footer a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.site-id .opas:hover {
    color: rgba(0, 0, 0, .4);
}

/* LOGO AREA */
.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: .55em;
    text-align: center;
    justify-content: space-around;
}

.site-id .opas {
    color: rgba(255, 255, 255, .4);
}

.flex-logo {
    color: white;
}

/* SITE NAV */
.nav-info {
    margin: 1em;
}

.site-nav ul {
    padding: 0;
}

.left-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    justify-content: left;
}

.right-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    justify-content: left;
}

.site-nav a {
    display: block;
    padding: 1em;
    color: rgba(255, 255, 255, 1);
}

.nav2-footer {
    text-align: center;
}

.nav2-footer li {
    display: inline-block;
    justify-content: space-around;
    text-decoration: none;
}

.nav3-footer {
    text-align: center;
}

.nav3-footer li {
    display: inline-block;
    justify-content: space-around;
    text-decoration: none;
}

.tabs {
    font-size: .8em;
    cursor: pointer;
}

.site-nav2 li {
    text-decoration: none;
}

.site-nav2 a {
    display: block;
    padding: 1em;
    color: rgba(0, 0, 0, 1);
}

.site-nav .menu-button {
    display: none;
}

/* SECTIONS */
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 0;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    text-align: center;
}

.hero h1, p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* TOGGLE NAV */

@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }
    .toggle-nav .site-nav {
       text-align: left;
    } 
    .toggle-nav .site-nav .menu-button {
        display: block;
        display: inline-block;
        justify-content: end;
        cursor: pointer;
        padding: .3em .8em;
        margin-bottom: .8em;
        border: 1px solid black;
    } 
    .toggle-nav .site-nav .menu-button::selection {
        background-color: rgba(255, 255, 255, 0);
    } 
    .toggle-nav .site-nav ul{
        display: block;
        text-align: center;
    }
    .toggle-nav .site-nav a:hover {
        background-color: rgb(19, 54, 30);
        color: white;
    }
    .toggle-nav[data-navstate="closed"] ul {
        height: 0;
        overflow: hidden;
    }
    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
    }

    /* NAV ICON */
    .toggle-nav .site-nav .menu-button.navicon {
        border: none;
        color: rgba(255, 255, 255, 0);
    }
    .toggle-nav .site-nav .menu-button.navicon::after {
        content: "\2630";
        display: inline-block;
        padding: 0 .4em;
        margin: 0;
        color: rgba(0, 0, 0, .8);
        font-size: 1.5em;
    }

    .toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
        content: "\2715";
    }
}


/* SUB PAGES */
blockquote {
    font-size: 1.142em;
    margin: 1.5em 0;
    padding: 1.5em;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
    max-width: 38em;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

article p {
    margin-left: 0;
    margin-right: 0;
}

article h1, 
article h1 + .subhead, 
article .date {
    text-align: center;
}

article h2.subhead {
    font-size: 1.5em;
    line-height: 1.2;
}

article .subhead {
    font-weight: normal;
    opacity: .7;
}

article .date {
    font-size: .75em;
    opacity: .5;
    margin-bottom: 3em;
}

article p + h1,
article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
    margin-top: 1.5em;
}


/* FORMS */
form {
    max-width: 600px;
    margin: 2em auto;
}

.log-form {
    max-width: 600px;
    margin: 7em 5em;
}

form label, 
form input,  
form textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-size: 1em;
}

form label {
    margin-top: 1em;
    margin-bottom: .25em;
}

form input[type="text"],  
form textarea {
    border-bottom: 2px solid #ccc;
    padding: .5em;
    color: rgba(255, 255, 255, .8);
}  

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

form input[type="submit"] {
    margin-top: 1.5em;
    width: 200px;
    cursor: pointer;
}

/* CUSTOM SITE CSS */
section {
    overflow-x: hidden;
    position: relative;

}

.section-title {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 30%;
}

.about-me {
    position: absolute;
    text-align: center;
    margin: 0;
    top: 10%;  
}


.section-title2 {
    text-align: center;
    margin: 0;
    top: 50%;
}

.section-title.title-right.about-me {
    right: 0;
    padding-top: 4.8em;
    transform: rotate(-90deg);
}

.section-title.title-right {
    right: 0;
    padding-top: 3em;
    transform: rotate(-90deg);
}

.section-title.title-left {
    left: 0;
    padding-top: 2.3em;
    transform: rotate(90deg);
}

.site-header.sticky {
    position: fixed;
    width: 100%;
}
.halves {
 max-width: 200px;
 }

#about {
    background-image: url('../img/portrait.JPG');
    background-size: 51%;
    background-position: 0 25.5em;
}

.about-pad {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

#collection {
    background: rgba(0, 0, 0, .1);
}

#shop {
    background-image: url('../img/bird2.JPG');
    background-size: cover;
    background-position: 0 -5em;
}

.shop-link {
    padding-top: 5em;
    text-align: center;
}

.shop-pad {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}

#cart {
    background: rgba(0, 0, 0, .1);
}

#log-in {
    background-image: url('../img/monkey.jpg');
    background-size: cover;
    background-position: 0 -5em;
}

/* VERTICAL MEDIA QUERY AND HEIGHT/PADDING TO BOTTOM OF CONTACT SECTION ONLY FOR LARGE SCREENS - CREDIT TO ROMINA FOR THIS IDEA */
@media (min-width: 600px) {
    #contact {
        padding-bottom: 20em;
    }
}

/* CART STYLE */
.cart-rows .row {
    border-bottom: 1px solid white;
    margin-bottom: 2em;
    margin-top: 2em;
    
}

.nav-info {
    border-top: 1px solid white;
    margin-bottom: 2em;
    margin-top: 2em;
}

.nav-info[data-navstate="closed"]{
    height: 0;
    overflow: hidden;
}
.nav-info[data-navstate="open"] {
    height: auto;
    overflow: visible;
}

.total-row {
    margin: 0;
    border-bottom: 1px solid white;
}

.contact-text {
    border: transparent;
    background-color: transparent;
}

.contact-message {
    border: 2px solid #ccc;
    background-color: transparent;
}

.name-border {
    margin-right: 1.5em;
    margin-top: 1em;
    display: inline-block;
    border-top: 2px solid #ccc;
}

.total {
    display: inline-block;
    justify-content: space-between;
}

.total-pad {
    margin: 0;
    padding: 0;
}